<div class="banner row p-5 justify-content-center align-items-center">
  <div class=" col-md-6 col-sm-10 text-center">
    <p class="banner-text">Registore</p>
  </div>
</div>
<div class="new-cart-action-box row justify-content-center align-items-center">
  <div class="col-md-4 col-sm-10 text-center">
    <a routerLink="/view-cart">
      <button class="new-cart-btn btn text-center" >
        <div class="glass"></div>
        <div class="new-cart-btn-text">New Cart</div>
      </button>
    </a>
  </div>
</div>
