.banner {
  height: 10%;

}

.banner-text {
  font-family: 'Roboto Slab', serif;
  font-size: 8vw;
}

.new-cart-action-box {
  height: 90%;
}

.new-cart-btn {
    height: 15vw;
    width: 50vw;
}

.new-cart-btn-text {
  font-size: 5vw;
  font-family: sans-serif;
  color: #484538;
}
