
:host(app-root) {
  order: 0;
  padding: 0;
  flex: 1 1 auto;
  align-self: auto;
  height: 100vh;
  display: block;
  background: rgba(40,145,122, 0.4);
}

.main-container {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.menu-container {
  height: 100vh;
  z-index: 2000;
}

.routes-container {
  z-index: 1000;
}
